body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.flex {
    display: flex;
}
.container {
    background-color: white;
    width: 768px;
}
.header {
    background-color: rgb(214, 226, 241);
    padding: 20px;
    align-items: baseline;
}
.header-left {
    width: 60%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.subhead {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-left p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-right {
    justify-content: flex-end;
    align-content: center;
    width: 40%;
}
.personal-info {
    justify-content: right;
    align-items: center;
}
.body {
    padding: 10px;
    justify-content: center;
}
.body-left {
    width: 50%;
    flex-direction: column;
}
.banking-experience {
    flex-direction: column;
}
.banking-experience-heading {
    align-items: center;
}
.education {
    flex-direction: column;
}
.education-heading {
    align-items: center;
}
.school {
    flex-direction: row;
}
.school-name {
    font-weight: bold;
    width: 50%;
}
.school-location {
    color: rgb(69, 132, 153);
    width: 50%;
}
.body-right {
    width: 50%;
    flex-direction: column;
}
.skills {
    flex-direction: column;
}
.skills-heading {
    align-items: center;
}
.skills-skills {
    flex-wrap: wrap;
}
.skill {
    background-color: navy;
    border-radius: 5px;
    color: white;
    width: auto;
    margin: 5px;
    padding: 0px 5px 0px 5px;
}
.work {
    flex-direction: column;
}
.work-heading {
    align-items: center;
}
.footer {
    background-color: rgb(183, 213, 252);
    align-items: baseline;
    padding: 10px;
}
.footer-left {
    width: 50%;
}
.footer-right {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.footer-right i{
    margin-left: 5px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}
ul {
    margin: 0px;
}
h2 {
    padding-left: 5px;
}
.banking-experience-heading i,
.education-heading i,
.skills-heading i,
.work-heading i{
    font-size: 25px;
}
a {
    text-decoration: none;
    color: black;
}
table {
    text-align: right;
}